<div class='partners'>
  <% if @user.partners.any? %>
    <%= form_for @user do |f| %>
      <h2>Select a partner to analyze:</h2>
      <%= f.collection_select :id, @user.partners, :id, :name, {include_blank: 'Select Partner'}, {class: "partners-list"} %>
    <% end %>
  <% else %>
    <%= button_tag "Add Partner", class: "add-partner", data: { disable_with: "Please wait..."} %>
    <div class='new-partner'>
      <%= render 'partners/form' %>
    </div>
  <% end %>
</div>
