<p id="google-login"><%= link_to "SIGN IN", "/auth/google_oauth2", id: "sign_in" %></p>
<div class="login">
  <h1>TheFeels</h1>
  <i class="fa fa-heart-o fa-5x fa-landing" aria-hidden="true"></i> <i class="fa fa-heart-o fa-5x fa-landing" aria-hidden="true"></i> <i class="fa fa-heart-o fa-5x fa-landing" aria-hidden="true"></i> <i class="fa fa-heart-o fa-5x fa-landing" aria-hidden="true"></i> <i class="fa fa-heart-o fa-5x fa-landing" aria-hidden="true"></i>
  <div id="controls">
    <label class="range-negative"><em>Negative</em></label>
    <label class="range-positive"><em>Positive</em></label>
    <input class="sentiment-spacing" type="range">
  </div>
</div>
