<div class="container">
  <p id="google-login"><%= link_to "SIGN IN", "/auth/google_oauth2", id: "sign_in" %></p>
</div>
<div class="landing-content">
  <h1><%= link_to "The Feels", "/auth/google_oauth2", id: "sign_in" %></h1>
  <div id="explanation">
    <p>Find out what you say to your </p>
    <p>partner and how you say it.</p>
    <i class="fa fa-heart fa-5x fa-landing" aria-hidden="true"></i>
</div>
