/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @font-face {
   font-family: "Somatic-Rounded";
   src: url(/assets/Somatic-Rounded.otf) format("truetype");
 }

 @font-face {
   font-family: "AlternateGothicNo3DRegular";
   src: url(/assets/AlternateGothicNo3DRegular.otf) format("truetype");
 }

*{
  font-family: "Somatic-Rounded";
}

body {
  background-image: url(/assets/email.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
 }

.email-form {
  float: center;
}

.email-title {
  font-size: 20vw;
}

.email-entry {
	position: relative;
	left: 15%;
	top: 40%;
	display: inline-block;
	height: 30vmax;
	width: 50vmax;
}

.email.btn {
  color: white;
  float: right;
}

#positive {
  color: #3fb618;
  font-size: 20px;
}

#negative {
  color: #ec1818;
  font-size: 20px;
}

.new-partner {
  display: none;
}
