.info {
  background-color: white;
  margin: 20px;
  padding: 20px;
  color: black;
  text-transform: uppercase;
}

#name {
  text-align: center;
  font-size: 30px;
  font-family: 'AlternateGothicNo3DRegular';
  font-weight: bold;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background: black;
}

#profile-picture {
  margin-left: 20px;
  max-width: 25%;
  border-radius: 100%;
  padding: 10px;
  display: inline;
}

.user-stats {
  float: right;
  display: inline;
  margin: 20px 60px 0 0;
  text-transform: uppercase;
}

.partner-info li {
  display: inline;
  list-style-type: none;
}

.partners {
  padding: 20px;
  background-color: #bab1ff;
}

.partners p {
  font-family: 'AlternateGothicNo3DRegular';
  text-transform: uppercase;
  font-size: 24px;
}

#partner-name {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 15px;
}

#partner-picture {
  max-width: 15%;
  border-radius: 100%;
  padding: 5px;
}

.add-partner {
  font-family: 'AlternateGothicNo3DRegular';
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid black;

}
