.info {
  background-color: white;
  margin: 5px 0;
  padding: 20px;
  color: black;
  text-transform: uppercase;
}

#name {
  text-align: center;
  font-size: 30px;
  font-family: 'AlternateGothicNo3DRegular';
  font-weight: bold;
}

#profile-picture {
  margin-left: 20px;
  max-width: 25%;
  border-radius: 100%;
  padding: 10px;
  display: inline;
}

.user-stats {
  float: right;
  display: inline;
  margin: 20px 60px 0 0;
  text-transform: uppercase;
}

.partner-info {
  margin-top: 10px;

}
.partner-info li {
  display: inline;
  list-style-type: none;
}

.partners {
  padding: 20px;
  background-color: #bab1ff;
}

.partners p {
  font-family: 'AlternateGothicNo3DRegular';
  text-transform: uppercase;
  font-size: 24px;
}

#partner-name {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  margin-left: 15px;
  margin-right: 28px;
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
}

#partner-name:hover {
  background-color: transparent;
  color: white;
}

#partner-name:visited { color: #333; }

#partner-name:visited:hover { color: white; }

#partner-picture {
  margin: 10px;
  max-width: 15%;
  border-radius: 100%;
  padding: 5px;
}

.add-partner {
  font-family: 'AlternateGothicNo3DRegular';
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid black;
  font-size: 20px;
}
