<div class="container">
  <h1 class="email-title">Upload Your Email</h1>
  <div class="form-group">
    <label for="comment">Paste Here:</label>
    <textarea class="form-control" rows="3" id="comment"></textarea>
    <br>
    <button class="email btn btn-warning" type="submit">Analyze Sentiment</button>
  </div>
  <br>
  <%= link_to 'New Email', new_email_path %>
</div>