<div class="container">
  <div class="email-form">
    <h1 class="email-title">Emotion.</h1>
    <div class="form-group">
      <%= form_for :email do |f| %>
        <%= f.text_area :text, class: "email-entry", placeholder: "Paste your e-mail." %>
        <br><br>
        <%= button_to "Analyze", { controller: "emails", action: "create"}, class: "email btn" %>
        <br>
      <% end %>
    </div>
  </div>
</div>
