<ul>
  <% @emails.each do |email| %>
  <li>Email:
    <%= link_to(email_path(email.id)) do %>
      <%= email.subject %>
      <br>
      <%= truncate(email.text, length: 100) %>
    <% end %>
  </li>
  <br>
  <% end %>
  <br>
</ul>
