<div class="email-form">
  <h1 class="email-title">Emotion.</h1>
  <div class="form-group">
    <%= form_for :email do |f| %>
      <%= f.text_area :text, class: "email-entry", placeholder: "Put your e-mail here." %>
      <br><br>
      <%= button_to "->", { controller: "emails", action: "create"}, class: "email btn" %>
      <br>
    <% end %>
  </div>
</div>
